code/search/obsids/*
# code/original_search_code/
papers/
internship_application.pdf
internship_application.md
vragen.txt
*.zip
PID.txt
presentatie_aantekeningen.md
presentatie_aantekeningen.pdf
errorbars_jonathan.py
*.png
*.jpg
*.pdf